body {
    margin: 0;
    overflow-x: hidden;
}

canvas {
    margin: 0;
    padding: 0;
    border: none;
    /* background: linear-gradient(45deg, #0C134F, #11009E); */
    background-color: #F7FFE5;
    width: 100%;
}